In [1]:
import requests as rqts
import os
import pandas as pd

In [15]:
#download data
months = [10, 11, 12]
full_taxi_df = pd.DataFrame()

for month in months:
    str_file_name = "green_tripdata_2020-" + str(month) + ".csv.gz"
    # Online URL to get data
    url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/tag/green/download"

    # local url if already downloaded (on cmd input python -m http.server 
    # open another cmd then input ipconfig to find port)
    url = "http://172.25.240.1:8000/"
    full_url = os.path.join(url, str_file_name)
    response = rqts.get(full_url)
    
    taxi_dtype = {
        'VendorID': pd.Int64Dtype(),
        'passenger_count': pd.Int64Dtype(),
        'trip_distance': float,
        'RatecodeID': pd.Int64Dtype(),
        'store_and_fwd_flag': str,
        'PULocationID': pd.Int64Dtype(),
        'DOLocationID':pd.Int64Dtype(),
        'payment_type': pd. Int64Dtype(),
        'fare_amount': float,
        'extra': float,
        'mta_tax': float,
        'tip_amount': float,
        'tolls_amount': float,
        'improvement_surcharge': float,
        'total_amount': float,
        'congestion_surcharge': float
    }
    
    date_parses = ['lpep_pickup_datetime', 'lpep_dropoff_datetime']
    
    ans_df = pd.read_csv(full_url,sep = ",", compression = "gzip", dtype = taxi_dtype, parse_dates=date_parses)
    
    full_taxi_df = pd.concat([full_taxi_df,ans_df], ignore_index = True)

In [16]:
# Show size of csv
full_taxi_df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1,7,7,1,0.79,5.00,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1,1.0,0.0
1,2,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1,179,7,1,0.50,4.00,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2,1.0,0.0
2,2,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1,179,223,1,0.60,4.00,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1,1.0,0.0
3,1,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1,134,216,2,4.40,13.50,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2,1.0,0.0
4,1,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1,82,7,1,2.90,10.50,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266850,<NA>,2020-12-31 23:02:00,2020-12-31 23:16:00,NaN,<NA>,174,168,<NA>,7.04,20.33,0.0,0.0,0.00,0.0,NaN,0.3,20.63,<NA>,NaN,NaN
266851,<NA>,2020-12-31 23:39:00,2020-12-31 23:54:00,NaN,<NA>,256,225,<NA>,2.79,13.17,0.0,0.0,0.00,0.0,NaN,0.3,13.47,<NA>,NaN,NaN
266852,<NA>,2020-12-31 23:09:00,2020-12-31 23:33:00,NaN,<NA>,146,10,<NA>,12.41,45.12,0.0,0.0,2.75,0.0,NaN,0.3,48.17,<NA>,NaN,NaN
266853,<NA>,2020-12-31 23:01:00,2020-12-31 23:12:00,NaN,<NA>,196,28,<NA>,4.46,13.96,0.0,0.0,3.13,0.0,NaN,0.3,17.39,<NA>,NaN,NaN
266854,<NA>,2020-12-31 23:12:00,2020-12-31 23:37:00,NaN,<NA>,215,35,<NA>,10.34,39.95,0.0,0.0,2.75,0.0,NaN,0.3,43.00,<NA>,NaN,NaN

In [17]:
# Querying (Filtering) data:
res_df = full_taxi_df[(full_taxi_df['passenger_count'] > 0) & (full_taxi_df['trip_distance'] > 0)]
res_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139370 entries, 0 to 230016
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               139370 non-null  Int64
 1   lpep_pickup_datetime   139370 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  139370 non-null  datetime64[ns]
 3   store_and_fwd_flag     139370 non-null  object
 4   RatecodeID             139370 non-null  Int64
 5   PULocationID           139370 non-null  Int64
 6   DOLocationID           139370 non-null  Int64
 7   passenger_count        139370 non-null  Int64
 8   trip_distance          139370 non-null  float64
 9   fare_amount            139370 non-null  float64
 10  extra                  139370 non-null  float64
 11  mta_tax                139370 non-null  float64
 12  tip_amount             139370 non-null  float64
 13  tolls_amount           139370 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  139370 non-null  float64
 16  total_amount           139370 non-null  float64
 17  payment_type           139370 non-null  Int64
 18  trip_type              139370 non-null  float64
 19  congestion_surcharge   139370 non-null  float64
dtypes: Int64(6), datetime64[ns](2), float64(11), object(1)
memory usage: 23.1+ MB

In [27]:
# Data Transformations
full_taxi_df['lpep_pickup_date'] = full_taxi_df['lpep_pickup_datetime'].dt.date
full_taxi_df.head(10)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,lpep_pickup_date
0,2,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1,7,7,1,0.79,5.0,...,0.5,1.58,0.0,NaN,0.3,7.88,1,1.0,0.00,2020-10-01
1,2,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1,179,7,1,0.50,4.0,...,0.5,0.00,0.0,NaN,0.3,5.30,2,1.0,0.00,2020-10-01
2,2,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1,179,223,1,0.60,4.0,...,0.5,1.06,0.0,NaN,0.3,6.36,1,1.0,0.00,2020-10-01
3,1,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1,134,216,2,4.40,13.5,...,0.5,0.00,0.0,NaN,0.3,14.80,2,1.0,0.00,2020-10-01
4,1,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1,82,7,1,2.90,10.5,...,0.5,0.00,0.0,NaN,0.3,11.80,2,1.0,0.00,2020-10-01
5,2,2020-10-01 00:04:50,2020-10-01 00:13:34,N,1,75,42,1,2.65,9.5,...,0.5,0.00,0.0,NaN,0.3,10.80,2,1.0,0.00,2020-10-01
6,2,2020-10-01 00:49:30,2020-10-01 01:09:03,N,1,42,51,1,11.48,33.0,...,0.5,0.00,0.0,NaN,0.3,34.30,2,1.0,0.00,2020-10-01
7,2,2020-10-01 00:54:35,2020-10-01 01:03:43,N,1,25,80,1,4.12,13.5,...,0.5,4.44,0.0,NaN,0.3,19.24,1,1.0,0.00,2020-10-01
8,2,2020-10-01 01:00:05,2020-10-01 01:07:56,N,1,74,43,1,2.24,9.0,...,0.5,3.92,0.0,NaN,0.3,16.97,1,1.0,2.75,2020-10-01
9,1,2020-10-01 00:46:58,2020-10-01 00:58:36,N,1,260,146,1,2.70,11.0,...,0.5,3.05,0.0,NaN,0.3,15.35,1,1.0,0.00,2020-10-01

In [28]:
# Show unique values in 'VendorID':
print(full_taxi_df['VendorID'].unique())

<IntegerArray>
[2, 1, <NA>]
Length: 3, dtype: Int64

In [33]:
# Finding how many columns have not follow snake case:
print([col for col in full_taxi_df.columns if not(col.__contains__('_'))])

['VendorID', 'RatecodeID', 'PULocationID', 'DOLocationID', 'extra']