In [1]:
import requests as rqts
import os
import pandas as pd

In [7]:
#https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-01.parquet
#"https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-02.parquet"

test = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-02.parquet", engine= 'auto')
test.head(10)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2022-02-01 00:20:21,2022-02-01 00:24:30,N,1.0,43,238,1.0,1.16,5.5,0.5,0.5,1.02,0.0,None,0.3,7.82,1.0,1.0,0.00
1,2,2022-02-01 00:32:26,2022-02-01 00:35:31,N,1.0,166,24,1.0,0.57,4.5,0.5,0.5,0.00,0.0,None,0.3,5.80,2.0,1.0,0.00
2,1,2022-02-01 00:17:27,2022-02-01 00:44:44,N,1.0,226,219,1.0,0.00,42.2,0.0,0.5,0.00,0.0,None,0.3,43.00,1.0,1.0,0.00
3,2,2022-02-01 00:45:37,2022-02-01 01:27:16,N,1.0,89,83,1.0,16.62,49.0,0.5,0.5,0.00,0.0,None,0.3,50.30,2.0,1.0,0.00
4,2,2022-02-01 00:06:46,2022-02-01 00:30:06,N,1.0,7,238,1.0,5.97,21.0,0.5,0.5,4.50,0.0,None,0.3,29.55,1.0,1.0,2.75
5,2,2022-02-01 00:26:19,2022-02-01 00:26:28,N,5.0,197,197,1.0,0.00,8.0,0.0,0.0,0.00,0.0,None,0.3,8.30,1.0,2.0,0.00
6,2,2022-02-01 00:01:11,2022-02-01 00:09:58,N,1.0,166,116,1.0,1.77,8.5,0.5,0.5,1.96,0.0,None,0.3,11.76,1.0,1.0,0.00
7,2,2022-02-01 00:16:47,2022-02-01 00:36:18,N,4.0,244,265,2.0,7.51,23.0,0.5,0.5,0.00,0.0,None,0.3,24.30,2.0,1.0,0.00
8,2,2022-02-01 00:54:37,2022-02-01 00:57:16,N,1.0,127,243,1.0,0.50,4.0,0.5,0.5,0.00,0.0,None,0.3,5.30,2.0,1.0,0.00
9,2,2022-01-31 14:45:51,2022-01-31 14:54:58,N,1.0,75,42,1.0,2.87,10.0,0.5,0.5,0.00,0.0,None,0.3,11.30,2.0,1.0,0.00

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69399 entries, 0 to 69398
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               69399 non-null  int64
 1   lpep_pickup_datetime   69399 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  69399 non-null  datetime64[ns]
 3   store_and_fwd_flag     61978 non-null  object
 4   RatecodeID             61978 non-null  float64
 5   PULocationID           69399 non-null  int64
 6   DOLocationID           69399 non-null  int64
 7   passenger_count        61978 non-null  float64
 8   trip_distance          69399 non-null  float64
 9   fare_amount            69399 non-null  float64
 10  extra                  69399 non-null  float64
 11  mta_tax                69399 non-null  float64
 12  tip_amount             69399 non-null  float64
 13  tolls_amount           69399 non-null  float64
 14  ehail_fee              0 non-null      object
 15  improvement_surcharge  69399 non-null  float64
 16  total_amount           69399 non-null  float64
 17  payment_type           61978 non-null  float64
 18  trip_type              61978 non-null  float64
 19  congestion_surcharge   61978 non-null  float64
dtypes: datetime64[ns](2), float64(13), int64(3), object(2)
memory usage: 10.6+ MB

In [12]:
#download data
months = ["01", "02", "03", "04", "05","06","07", "08", "09", "10", "11", "12"]
data_df = []
full_taxi_df = pd.DataFrame()

for month in months:
    # Online URL to get data
    url = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-" + month + ".parquet"

    # local url if already downloaded (on cmd input python -m http.server 
    # open another cmd then input ipconfig to find port)
    # url = "http://172.25.240.1:8000/"

    full_url = url
    response = rqts.get(full_url)
    
    
    ans_df = pd.read_parquet(full_url, engine= 'auto')
    data_df.append(ans_df)

full_taxi_df = pd.concat(data_df, axis = 0, ignore_index = True)

In [9]:
# Show size of csv
full_taxi_df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2022-01-01 00:14:21,2022-01-01 00:15:33,N,1.0,42,42,1.0,0.44,3.50,0.50,0.5,0.00,0.0,None,0.3,4.80,2.0,1.0,0.00
1,1,2022-01-01 00:20:55,2022-01-01 00:29:38,N,1.0,116,41,1.0,2.10,9.50,0.50,0.5,0.00,0.0,None,0.3,10.80,2.0,1.0,0.00
2,1,2022-01-01 00:57:02,2022-01-01 01:13:14,N,1.0,41,140,1.0,3.70,14.50,3.25,0.5,4.60,0.0,None,0.3,23.15,1.0,1.0,2.75
3,2,2022-01-01 00:07:42,2022-01-01 00:15:57,N,1.0,181,181,1.0,1.69,8.00,0.50,0.5,0.00,0.0,None,0.3,9.30,2.0,1.0,0.00
4,2,2022-01-01 00:07:50,2022-01-01 00:28:52,N,1.0,33,170,1.0,6.26,22.00,0.50,0.5,5.21,0.0,None,0.3,31.26,1.0,1.0,2.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840397,2,2022-12-31 23:33:00,2022-12-31 23:49:00,None,NaN,33,79,NaN,3.53,20.72,0.00,0.0,4.89,0.0,None,1.0,29.36,NaN,NaN,NaN
840398,2,2022-12-31 23:29:00,2023-01-01 00:01:00,None,NaN,49,197,NaN,8.94,39.01,0.00,0.0,8.00,0.0,None,1.0,48.01,NaN,NaN,NaN
840399,2,2022-12-31 23:05:00,2022-12-31 23:12:00,None,NaN,54,181,NaN,1.27,12.11,0.00,0.0,2.62,0.0,None,1.0,15.73,NaN,NaN,NaN
840400,2,2022-12-31 23:03:00,2022-12-31 23:18:00,None,NaN,7,129,NaN,2.23,15.51,0.00,0.0,3.30,0.0,None,1.0,19.81,NaN,NaN,NaN
840401,2,2022-12-31 23:16:00,2022-12-31 23:25:00,None,NaN,17,61,NaN,1.74,12.32,0.00,0.0,2.66,0.0,None,1.0,15.98,NaN,NaN,NaN

In [18]:
count_PU_ID_df = len(full_taxi_df["PULocationID"].unique())
count_lpep = len(full_taxi_df["lpep_pickup_datetime"].unique())

print(count_PU_ID_df)
print(count_lpep)

258
813219

In [17]:
fare_amt_df = full_taxi_df[full_taxi_df["fare_amount"] == 0]

fare_amt_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1622 entries, 1618 to 836749
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               1622 non-null   int64
 1   lpep_pickup_datetime   1622 non-null   datetime64[ns]
 2   lpep_dropoff_datetime  1622 non-null   datetime64[ns]
 3   store_and_fwd_flag     1604 non-null   object
 4   RatecodeID             1604 non-null   float64
 5   PULocationID           1622 non-null   int64
 6   DOLocationID           1622 non-null   int64
 7   passenger_count        1604 non-null   float64
 8   trip_distance          1622 non-null   float64
 9   fare_amount            1622 non-null   float64
 10  extra                  1622 non-null   float64
 11  mta_tax                1622 non-null   float64
 12  tip_amount             1622 non-null   float64
 13  tolls_amount           1622 non-null   float64
 14  ehail_fee              0 non-null      object
 15  improvement_surcharge  1622 non-null   float64
 16  total_amount           1622 non-null   float64
 17  payment_type           1604 non-null   float64
 18  trip_type              1604 non-null   float64
 19  congestion_surcharge   1604 non-null   float64
dtypes: datetime64[ns](2), float64(13), int64(3), object(2)
memory usage: 266.1+ KB

In [11]:
# Data Transformations
full_taxi_df['lpep_pickup_date'] = full_taxi_df['lpep_pickup_datetime'].dt.date
full_taxi_df.head(10)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,lpep_pickup_date
0,2,2022-01-01 00:14:21,2022-01-01 00:15:33,N,1.0,42,42,1.0,0.44,3.5,...,0.5,0.00,0.0,None,0.3,4.80,2.0,1.0,0.00,2022-01-01
1,1,2022-01-01 00:20:55,2022-01-01 00:29:38,N,1.0,116,41,1.0,2.10,9.5,...,0.5,0.00,0.0,None,0.3,10.80,2.0,1.0,0.00,2022-01-01
2,1,2022-01-01 00:57:02,2022-01-01 01:13:14,N,1.0,41,140,1.0,3.70,14.5,...,0.5,4.60,0.0,None,0.3,23.15,1.0,1.0,2.75,2022-01-01
3,2,2022-01-01 00:07:42,2022-01-01 00:15:57,N,1.0,181,181,1.0,1.69,8.0,...,0.5,0.00,0.0,None,0.3,9.30,2.0,1.0,0.00,2022-01-01
4,2,2022-01-01 00:07:50,2022-01-01 00:28:52,N,1.0,33,170,1.0,6.26,22.0,...,0.5,5.21,0.0,None,0.3,31.26,1.0,1.0,2.75,2022-01-01
5,1,2022-01-01 00:47:57,2022-01-01 00:54:09,N,1.0,150,210,1.0,1.30,7.0,...,0.5,0.00,0.0,None,0.3,8.30,2.0,1.0,0.00,2022-01-01
6,2,2022-01-01 00:13:38,2022-01-01 00:33:50,N,1.0,66,67,1.0,6.47,22.5,...,0.5,0.00,0.0,None,0.3,23.80,2.0,1.0,0.00,2022-01-01
7,2,2022-01-01 00:43:00,2022-01-01 00:49:20,N,1.0,40,195,1.0,1.15,6.0,...,0.5,0.00,0.0,None,0.3,7.30,2.0,1.0,0.00,2022-01-01
8,2,2022-01-01 00:41:04,2022-01-01 00:47:04,N,1.0,112,80,1.0,1.30,6.0,...,0.5,0.00,0.0,None,0.3,7.30,2.0,1.0,0.00,2022-01-01
9,2,2022-01-01 00:51:07,2022-01-01 01:09:31,N,1.0,256,186,1.0,4.75,17.0,...,0.5,4.21,0.0,None,0.3,25.26,1.0,1.0,2.75,2022-01-01